image: maven:3.9.12-amazoncorretto-21

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

build_job:
  tags:
    - runner
  stage: build
  script:
    - "mvn compile"

test_job:
  tags:
    - runner
  stage: test
  script:
    - "mvn test"

